*{
    /* outline: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.header{
    background-color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.header__img{
    max-width: 100%;
    height: auto;
}
/*escondo en movil*/
#icono1, #icono2{
    display: none;
}
.toggle__check{
    display: none;
}
/*para que funcione el menu hamburguesa*/
#check:checked ~ ul{
    left: 0;
}
.menu__icon{
    width: 2.5rem;
    position: absolute;
    top: 20px;
    right: 20px;
}
.nav{
    width: 100%;
    font-size: .85rem;
}
.nav__menu{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 70px;
    left: -100%;
}
.nav__list--items{
    margin-bottom: .5rem;
    list-style: none;
}
.nav__list--items-li {
    text-decoration: none;
    color: black;                  
}

/* banner*/
#banner{
    display: none;
}
/* somos*/
.somos__arriba{
    text-align: center;
    width: 100%;
    margin: 5rem auto;
    padding-top: 5rem;
}
.somos__texto{
    margin: auto;
    width: 80%;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
}
.somos__btn{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}
.somos__btn--contactanos{
    width: 95%;
    text-decoration: none;
    border-radius: 10rem;
    padding: 9px 20px;
    font-size: .8rem;
}
.somos__btn--sumate{
    width: 75%;
    text-decoration: none;
    border-radius: 10rem;
    padding: 9px 20px;
    font-size: .8rem;
}
.somos__btn--contactanos{
    color: black;
    border: 2px solid rgb(32, 27, 36);
}
.somos__btn--contactanos:hover{
    color: white;
    background-color: rgb(32, 27, 36);
}
.somos__btn--sumate{
    color: rgb(107, 83, 240);
    border: 2px solid rgb(107, 83, 240);
}
.somos__btn--sumate:hover{
    color: white;
    background-color: rgb(107, 83, 240);
}
.somos__icono{
    margin-left: .1rem;
}
.somos__abajo{
    color: white;
    background-color: rgb(32, 27, 36);
    /**/
    padding-top: 4rem;
    padding-bottom: 0;
}
.contenedor{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 5rem 0;
    padding-bottom: 8rem;
}
.somos_texto{
    width: 80%;
    text-align: left;
    margin-left: 1.2rem;
    line-height: 1.2rem;
}
.somos__texto--impacto{
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.somos__texto--desc{
    font-size: .9rem;
    margin-bottom: 2rem;
}

.somos__numeros{
    margin: auto;
    width: 65%;
}
.somos__numero{
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: .2rem;
}
.icono__num{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(107, 83, 240);
}
.somos__numero--texto{
    color: rgb(140, 147, 156);
}

/* programas xacademy y capacitaciones*/

.programas__xacademy{
    margin: 4rem 1.8rem 2rem 1.8rem;
}
.programas__xacademy--card-titulo,
.capa__estafas--card-titulo{
    margin-bottom: 1.6rem;
    font-size: 1.9rem;
}
.programas__xacademy--card-img,
.capa__estafas--card-img{
    width: 100%;
    border-radius: 0 3rem 3rem 3rem;
}
.programas__xacademy--contenido,
.capa__estafas--contenido{
    margin-left: 3rem;
    }
.programas__xacademy--contenido-img{
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.programas__xacademy--contenido-descrp,
.capa__estafas--contenido-descrp{
    width: 70%;
    font-size: .9rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}
.programas__xacademy--contenido-btn,
.programas__robotica--btn,
.capa__estafas--contenido-btn,
.capa__estafas--contenido-btn,
.capa__seguridad--btn{
    width: 18%;
    font-size: .8rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(32, 27, 36);
    border-radius: 10rem;
    padding: 9px 20px;
}

/*--------*/
.programas__robotica--contenedor{
    margin-left: 4.5rem;
}
.programas__robotica--titulo,
.capa__estafas--titulo{
    width: 55%;
    
}
.programas__robotica--descrip{
    width: 55%;
    font-size: .9rem;
    line-height: 1.2rem;
    margin: 2rem 0;
}
.programas__robotica--card{
    margin: 0 1.7rem;
}
.programas__robotica--img,
.capa__seguridad--img{
    width: 100%;
    border-radius: 3rem 3rem 0 3rem;
    margin-top: 2rem;
}
/*-------*/
.capa__estafas{
    margin-top: 5rem;
}
.capa__estafas--card,
.capa__seguridad--card{
    margin: 0 1.8rem;
}
.capa__estafas--card-titulo{
    font-size: 1.5rem;
}
.capa__estafas--card-img{
    margin-bottom: 3rem;
}
.capa__estafas--contenido{
    margin-left: 5rem;
}
.capa__estafas--contenido-descrp{
    width: 58%;
}
.capa__seguridad{
    margin-bottom: 4rem;
}
.capa__seguridad--contenedor{
    margin-left: 5rem;
}
.capa__seguridad--titulo{
    font-size: 1.3rem;
    width: 58%;
    margin: 2rem 0;
}
.capa__seguridad--descrip{
    width: 61%;
    font-size: .9rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

/*equipo*/

.equipo {
    background-color: rgb(244, 244, 245);
    padding-bottom: 3rem;
}
.equipo__titulo{
    padding: 5rem 0 0 2rem;
    font-size: 2rem;
}

.equipo__card{
    text-align: center;
    margin: 2rem;
    background-color: white;
    border-radius: .8rem .8rem .8rem 0;
}

.equipo__card--img{
    width: 100%;
    border-radius: .8rem .8rem 0 0;
}
.equipo__card--nombre{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}
.equipo__card--cargo{
    font-size: .95rem;
    color: rgb(140, 147, 156);
}
.linkedin-icono{
    color: rgb(32, 27, 36);
    font-size: .8rem;
    font-weight: 600;
    margin: .9rem 0 1rem 0;
    border: 2px solid;
    padding: 0.28rem .35rem;
    border-radius: 95%;
}
.linkedin-icono:hover{
    color: white;
    border: 2px solid rgb(107, 83, 240);
    background-color: rgb(107, 83, 240);
}

/*alianzas*/

.alianzas{
    width: 75vw;
    height: auto;
    width: auto;
    padding-bottom: 3rem;
}
.alianza__titulo {
    padding: 4rem 0 2rem 1rem;
    font-size: 2rem;
}
.alianza__slaider{
    margin: 0 2rem;
    overflow: hidden;
}

.alianza__slaide__track{
    display: flex;
    animation: scroll 20s infinite alternate linear;
    -webkit-animation: scroll 20s infinite alternate linear;
    width: calc(12.5rem * 14);
}

.alianza__slaide{
    width: 12.5rem;
}

.alianza__slide--img{
    width: 100%;
    filter: grayscale(100%) ;
}
.alianza__slide--img:hover{
    filter: grayscale(0%);
}

@keyframes scroll{
    0%{
       -webkit-transform: translateX(0);
       transform: translateX(0); 
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/* footer */

.footer{
    color: white;
    background-color: rgb(32, 27, 36);
}
.footer__logo{
    margin: 3.7rem 0 1rem 2rem;
}

.footer__texto{
    font-size: .7rem;
    line-height: 1.2rem;
    width: 90%;
    margin: 0 0 1.5rem 2rem;
}

.footer__nosotros-contacto, 
.footer__programas-capacit{
    margin: 0 0 1.5rem 2rem;
    font-size: .85rem;
    font-weight: 600;
    line-height: 1.2rem;
}
.footer__redes{
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    font-weight: 600;
    line-height: 1.2rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}
.footer__linkedin,
.footer__instagram {    
    color: white;
    text-decoration: none;
}
.footer-icono{
    color: white;
    padding-right: .5rem;
}
@media screen and (min-width: 768px) { 
    .header{
        margin-left: 0;
        margin-top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        top:0;
        position: fixed;
        padding: 1.2rem 0 1.2rem 10rem;
        border-bottom: 1px solid #8C939C;
    }
    
    #imgDestock, #icono1, #icono2{
        display: block;
    }
    #toggle1, #toggle2,.checkBtn, .toggle__check{
        display: none;
    }
    .nav__menu{
        flex-direction: row;
        justify-content: space-around;
        height: 0;
        top: 0;
        position: sticky;
        width: 85%;
    }
    .nav__list--items{
        margin-bottom: 0;
    }
    .icono{
    color: black;
    }
    .nav__list--items-li:hover, 
    .icono:hover{
        font-weight: 600;
        color: rgb(107, 83, 240);
    }
    .sumateText{
        color: rgb(32, 27, 36);
        border: 2px solid rgb(32, 27, 36);
        border-radius: 10rem;
        padding: 9px 20px;
    }
    .sumateText:hover{
        color: white;
        background-color: rgb(32, 27, 36);
    }

    /*banner*/
    #banner{
        display: block;
    }
    .banner > .img__banner{
    
        background: url("./assets/twp-home2.jpg") 
        no-repeat center center /cover;
        background-attachment: fixed;
        height: 55rem;
        width: 100%;
    }
    /**somos*/
    .somos__arriba{
        width: 50%;
    }
    .somos__texto{
        width: 78%;
    }
    .somos__btn{
        flex-direction: row;
    }
    .somos__btn--contactanos, 
    .somos__btn--sumate{
        margin: 0 15px;
    }
    .contenedor{
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-right: 5rem;
        margin-left: 20rem;
    }
    .somos__texto--impacto{
        margin-bottom: 1rem;
    }

    .somos__texto--desc{
        width: 90%;
    }
    .somos__numeros{
        display: flex;
        justify-content: space-between;
    }
    /*programas*/
    .programas__capacitaciones{
        display: flex;
        flex-direction: column;
    }
    .programas__xacademy,
    .capa__estafas,
    .programas__robotica,
    .capa__seguridad{
        margin-left: 8rem;
        display: flex;
    }
    .capa__estafas--card-titulo{
        font-size: 2rem; 
        width: 100%;   
    }
    .programas__xacademy--card,
    .capa__estafas--card,
    .programas__robotica--card{
        width: 75%;
    }
    .capa__estafas--titulo,
    .programas__robotica--titulo,
    .capa__seguridad--titulo{
        font-size: 1.3rem;
        width: 82%;
        margin-bottom: 1rem;
    }
    .programas__xacademy--card-img,
    .capa__estafas--card-img{
        width: 180%;        
    }
    .programas__xacademy--contenido{
        display: flex;
        flex-direction: column;
        margin-left: 24rem;
        margin-top: 8rem;
    }
    .programas__robotica--contenedor{
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
    }
    .capa__estafas--contenido{
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        margin-left: 20rem;
    }
    .programas__xacademy--contenido-img{
        width: 28%;
    }
    .programas__xacademy--contenido-descrp,
    .capa__estafas--contenido-descrp{
        width: 69.5%;
        line-height: 1.3rem;
        margin-bottom: 1rem;
    }
    .programas__robotica--descrip{
        width: 85%;
        line-height: 1.3rem;
        margin-bottom: 1rem;
    }
    .capa__seguridad--descrip{
        width: 75%;
    }
    .programas__robotica--contenedor{
        width: 60%;
    }
    .capa__seguridad--contenedor{
        width: 56%;
        margin-top: 8rem;
    }
    .programas__robotica--img{
        width: 85%;
        margin-top: 0;
    }
    .programas__robotica--btn{
        width: 21%;
    }
    /* equipo*/
    .equipo__titulo{
        padding: 5rem 0 0 8rem;
    }
    .equipo__contenedor{
        text-align: center;
        padding: 1rem 5.5rem;
        margin-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .equipo__card{
        flex: 0 1 18%;
        margin: .8rem;
        background-color: white;
        border-radius: .8rem .8rem .8rem 0;
    }
    .equipo__card--nombre{
         margin-bottom: 0;
    }
    .alianza__slaider{
        margin: 0 8rem;
    }

    .footer{
        display: flex;
        margin: 0;
        padding: 3.7rem 10rem 3.7rem 2rem;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .footer__logo{
        margin-right: 0;
        padding-right: 0;
        margin: 0;
    }
    .footer__texto{
        text-align: left;
        font-size: .7rem;
        line-height: 1.2rem;
        width: 18%;
        margin: 0;
    }
    .footer__nosotros-contacto, 
    .footer__programas-capacit{
        margin: 0;
        text-align: left;
        font-size: .85rem;
        font-weight: 600;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
    }

}


