*{
    /* outline: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    padding: 1.2rem 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid #8C939C;
}
.header__img{
    max-width: 100%;
    height: auto;
}
.nav {
    font-size: 1rem;
 }
.nav__menu{
    widows: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list--items{
    padding: 0 1rem;
    list-style: none;
}
.nav__list--items-li {
    text-decoration: none;
    color: black;                  
}
.icono{
    color: black;
}
.nav__list--items-li:hover, 
.icono:hover{
    color: rgb(107, 83, 240);
}

.nav__list--items {
    list-style: none;    
    line-height: 14px;
    margin: 0 0.5rem;   
}
.sumateText{
    text-decoration: none;
    color: rgb(32, 27, 36);
    border: 2px solid rgb(32, 27, 36);
    border-radius: 10rem;
    padding: 9px 20px;
}
.sumateText:hover{
    color: white;
    background-color: rgb(32, 27, 36);
}
/* main */
.somos__arriba{
    text-align: center;
    width: 50%;
    margin: 5rem auto;
    
}
.somos__texto{
    margin: auto;
    width: 78%;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
}
.somos__btn{
    margin: 3rem 0;
}
.somos__btn--contactanos, .somos__btn--sumate{
    text-decoration: none;
    border-radius: 10rem;
    padding: 9px 20px;
    margin: 0 15px;
    font-size: .8rem;
}
.somos__btn--contactanos{
    color: black;
    border: 2px solid rgb(32, 27, 36);
}
.somos__btn--contactanos:hover{
    color: white;
    background-color: rgb(32, 27, 36);
}
.somos__btn--sumate{
    color: rgb(107, 83, 240);
    border: 2px solid rgb(107, 83, 240);
}
.somos__btn--sumate:hover{
    color: white;
    background-color: rgb(107, 83, 240);
}
.somos__icono{
    margin-left: 2px;
}
.somos__abajo{
    color: white;
    background-color: rgb(32, 27, 36);
}
.contenedor{
    width: 55%;
    text-align: center;
    margin: 5rem auto;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
.somos_texto{
    width: 60%;
    text-align: left;
    margin-right: 5rem;
}
.somos__texto--impacto{
    font-size: 1.9rem;
    font-weight: 600;
    padding: .8rem 0;
}
.somos__texto--desc{
    font-size: .9rem;

}

.somos__numeros{
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}
.somos__numero{
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: .2rem;
}
.icono__num{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(107, 83, 240);
}
.somos__numero--texto{
    color: rgb(140, 147, 156);
}

